.chessboard-container {
    display: flex;
    user-select: none;
  }
  
.algebraic-notation-box {
    position: relative;
    width: 100%;
    height: 100%;
    color: hsl(60deg 45.16% 87.84%);
    background-color: rgb(39 37 34);
    border: 1px solid #ddd;
    overflow: auto; 
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}

.copyButton {
    position: absolute;
    left: 50%;
    top: 93%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 10px;
    user-select: none;
}

.copyButton:hover {
    cursor: pointer;
}

.copyButton:active { 
    transform: scale(0.9); 
} 