
.pawnPromotion {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    z-index: 4;
    display: flex;
    user-select: none;
}

.pawnPromotionHalfSquare {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 3;
    background-color: rgb(241 241 241);
    justify-content: center;
    align-items: center;
    user-select: none;
}

.pawnPromotion:hover {
    cursor: grab;
}