.tile{
    user-select: none;
}

.tile .chessPiece:hover {
    cursor: grab;
}
  
.tile .chessPiece:active {
    cursor: grabbing;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}


.tile .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
} 

.legalTile {
    position: absolute;
    width: 33%;
    height: 33%;
    border-radius: 50%;
    opacity: 0.6;
    background-color: gray;
    object-fit: contain;


}


.xNotation{
    position: absolute;
    user-select: none;
    font-size: 1em;
    
    top: 75%;
    left: 88%;
}

.yNotation {
    position: absolute;
    user-select: none;
    font-size: 1em;
    bottom: 75%;
    right: 88%;
}



  