body {
  overflow: hidden;
}

.notationSymbols {
  font-size: 21px
}

.window {
  background-color: rgb(49 46 43);
  justify-content: center;
  align-items: center;
  
}
.chessPiece:hover {
  cursor: grab;
}

.chessPiece:active {
  cursor: grabbing;
}

